<h1>welcome to the g0ldminE...</h1>
<h3>an online spot to swap, brag, and talk tunes</h3>

<% @rekidz.each do |rekid| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= rekid.name %></h1>
    <i><%= rekid.items %></i><br /><br />
    <p><%= rekid.description %></p><br />
  </div>
<% end %>